language: java
jdk: oraclejdk8

services:
  - postgresql  

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -d travis_ci_test -c 'CREATE EXTENSION postgis;' -U postgres

test:
  adapter: postgresql
  database: travis_ci_test

notifications:
  email:
    - jona_egebak@hotmail.dk
